header{
background-image: url('./Images/c6ca528d5fe2c93f8f41e6e614f3dd51.jpg');
background-size: cover;
background-position: center;
color: white;
text-align: center;
padding: 20px;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Header Section */
header {
    background: lightseagreen);
    padding: 40px 10%;
    color: white;
    text-align: center;
    border-bottom: 5px solid #FF5722;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
}

/* Hero Section */
.hero-section {
    padding: 50px 10%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.hero-section:nth-child(odd) {
    background-color: mistyrose;
}

.hero-section:nth-child(even) {
    background-color: lightskyblue;
}

.hero-section h2 {
    font-size: 2.5em;
    color:black;
    background-color:whitesmoke;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.hero {
    background-color:hotpink;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hero:hover {
    transform: scale(1.05);
    background-color: #FFC107;
}

.hero img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    font-weight: bold;
    color: #212121;
    text-transform: capitalize;
}

/* Footer */
footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
